<% if (title) {%>
  <h1>
    <%= title %>
  </h1>
<%} else {res.redirect('/')} %>

<%# messages() %>

<% if (errors) { %>
  <ul class="message warning">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <%  }) %>
  </ul>
<% } %>

<form action="/inv/add-inventory" method="post" style="margin-left: 10%; margin-right: 10%; width:auto; background-color: rgb(3, 42, 45);" id="invForm">
  <fieldset style="width: 100%;">
    <label for="classification_id" style="margin-left: 35%; margin-top: 20px;" id="classificationSelect"
    >Classification: <%- classificationSelect %></label>


    <label for="inv_make">Make:</label>
    <input type="text" name="inv_make" id="inv_make" required class="invInputs"/>



    <label for="inv_model">Model:</label>
    <input type="text" name="inv_model" id="inv_model" required class="invInputs"/>



    <label for="inv_description" >Description:</label>
    <input type="text" name="inv_description" id="inv_description" required  style="height: 80px;" required class="invInputs"/>



    <label for="invImage">Image Path (url)</label>
    <input class="invInputs" type="text" name="inv_image" id="invImage" size="30" required <% if(locals.inv_image) { %> value="<%= locals.inv_image %>" <% } else { %> value="/images/vehicles/no-image.png" <% } %>>

    <label for="invThumbnail">Thumbnail Path</label>
    <input class="invInputs" type="text" name="inv_thumbnail" id="invThumbnail" size="30" required <% if(locals.inv_image) { %> value="<%= locals.inv_image %>" <% } else { %> value="/images/vehicles/no-image-tn.png" <% } %>>

    <label for="inv_price">Price:</label>
    <input type="text" name="inv_price" id="inv_price" required class="invInputs" />



    <label for="inv_year">Year:</label>
    <input type="text" name="inv_year" id="inv_year" required class="invInputs"/>



    <label for="inv_miles">Miles:</label>
    <input type="text" name="inv_miles" id="inv_miles" required class="invInputs"/>



    <label for="inv_color">Color:</label>
    <input type="text" name="inv_color" id="inv_color" required class="invInputs" />



    <button type="submit" id="vehicleSubmitBtn" style="margin-left: 40%; background-color: rgb(99, 0, 0); width: 30%; color: rgb(255, 255, 255); border-radius: 12px; padding: 2px; cursor: pointer; " >Add Vehicle</button>
  </fieldset>
</form>
 