<% if (title) {%>
  <h1>
    <%= title %>
  </h1>
<%} else {res.redirect('/')} %>

<div class="warning">
  <% if (errors && errors.length > 0) { %>
    <ul class="message warning">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form action="/inv/update/inv_id" method="post" style="margin-left: 10%; display: block; margin-right: 10%; width:auto; background-color: rgb(3, 42, 45);" id="invForm">
  <fieldset style="width: 100%;">
  
    <label for="classification_id" style="margin-left: 2px 35%; margin-top: 20px; display: inline-block;" id="classificationSelect" >Classification:</label>
    <%- classificationSelect %>


    <label for="inv_make">Make:</label>
    <input type="text" name="inv_make" id="inv_make" required class="invInputs" placeholder="<%= inv_make %>" value="<%= inv_make %>"><br><br>

    <label for="inv_model">Model:</label>
    <input type="text" name="inv_model" id="inv_model" required class="invInputs" value="<%= inv_model %>"><br><br>

    <label for="inv_description" >Description:</label>
    
    <textarea type="text" name="inv_description" id="inv_description" required  style="height: 80px; width: 90%;" required class="invInputs" value=""> <%=inv_description %></textarea><br><br>
    
      <label for="invImage">Image Path (url)</label>
    <input class="invInputs" type="text" name="inv_image" id="invImage" size="30" required <% if(locals.inv_image) { %> value="<%= locals.inv_image %>" <% } else { %> value="/images/vehicles/no-image.png" <% } %>>

    <label for="invThumbnail">Thumbnail Path</label>
    <input class="invInputs" type="text" name="inv_thumbnail" id="invThumbnail" size="30" required <% if(locals.inv_image) { %> value="<%= locals.inv_image %>" <% } else { %> value="/images/vehicles/no-image-tn.png" <% } %>>

    <label for="inv_price">Price:</label>
    <input type="text" name="inv_price" id="inv_price" required class="invInputs" value="<%= inv_price %>"><br><br><br>

    <label for="inv_year">Year:</label>
    <input type="text" name="inv_year" id="inv_year" required class="invInputs" value="<%= inv_year %>"><br><br><br>

    <label for="inv_miles">Miles:</label>
    <input type="text" name="inv_miles" id="inv_miles" required class="invInputs" value="<%= inv_miles %>"><br><br><br>

    <label for="inv_color">Color:</label>
    <input type="text" name="inv_color" id="inv_color" required class="invInputs" value="<%= inv_color %>"><br><br><br>

    <button type="hidden" name="inv_id" id="vehicleSubmitBtn" style="margin-left: 30%; background-color: rgb(99, 0, 0); width: 30%; color: rgb(255, 255, 255); border-radius: 12px; padding: 2px; cursor: pointer; "
     <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %> >Update Vehicle</button>
   

  </fieldset>
</form>
